<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
  xmlns:p="Filter\Filter\ViewHelpers">

<f:layout name="Default" />

<f:section name="Configuration">
  <flux:form id="enterprise" label="Enterprise Content" description="Enterprise Content">

  </flux:form>
</f:section>

<f:section name="Preview">
  <h1>Enterprise Content</h1>
</f:section>

<f:section name="Main">

  <f:variable name="enterprise" value="{p:enterprise(enterpriseId: enterpriseId)}"></f:variable>
  <f:debug >{enter}</f:debug>
  <div class="container-vhs">
    <f:if condition="{enterprise}">
      <ol>
        <li class="list-item-vhs">
          <h3>Name : </h3>{enterprise.name}
        </li>
        <li class="list-item-vhs">
          <h3>Phone Number : </h3>{enterprise.phone}
        </li>
        <li class="list-item-vhs">
          <h3>Mail : </h3>{enterprise.email}
        </li>
        <li class="list-item-vhs">
          <h3>Website : </h3>{enterprise.website}
        </li>
        <li class="list-item-vhs">
          <h3>Address : </h3>{enterprise.address}
        </li>
      </ol>
    </f:if>
  </div>
</f:section>

</html>