<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
  xmlns:vhs="http://typo3.org/ns/VHS/ViewHelpers">
<f:layout name="Default" />
<f:section name="content">
  <div class="container-filter-extension">
    <h1 class="title">Mitgliederliste</h1>
    <h4 class="description">Mitglieder unterliegen einer strengen Kontrolle — und eine Mitgliedschaft im BDIU ist ein
      Qualitâtssiegel für seriòses Inkasso. ln der Mitgliederliste finden Auftraggeber das für sie
      passende Unternehmen und Verbraucher kònnen prüfen, Ob sie von einem BDIU-
      Mitgliedsunternehmen kontaktiert wurden.</h4>
    <f:render partial="Search/Search" arguments="{categories: categories}" />

    <f:variable name="ajaxUri"
      value="{f:uri.action(action: 'filterajax', controller: 'Enterprise', pageType: settings.uids.typeNumVal )}"></f:variable>

    <f:debug>{ajaxUri}</f:debug>
    <div class="cards">
      <f:render partial="Enterprise/List" arguments="{enterprises:enterprises}" />
    </div>

  </div>




</f:section>

</html>