<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
  xmlns:vhs="http://typo3.org/ns/VHS/ViewHelpers">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Enterprise:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
  <div class="container-filter-extension">
    <h1 class="title">Mitgliederliste</h1>
    <h4 class="description">Mitglieder unterliegen einer strengen Kontrolle — und eine Mitgliedschaft im BDIU ist ein
      Qualitâtssiegel für seriòses Inkasso. ln der Mitgliederliste finden Auftraggeber das für sie
      passende Unternehmen und Verbraucher kònnen prüfen, Ob sie von einem BDIU-
      Mitgliedsunternehmen kontaktiert wurden.</h4>
      <f:render partial="Search/Search" arguments="{categories: category}" />
      
       <div class="cards">
      <f:widget.paginate objects="{enterprises}" as="paginatedEnterprises"
        configuration="{itemsPerPage: 2, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
        <f:for each="{paginatedEnterprises}" as="enterprise">
          <div class="card">
            <h3 class="enterprise-name">{enterprise.name}</h3>
            <div class="enterprise-infos">
              <div class="enterprise-address">
                <p>{enterprise.address}</p>
                <span class="alltogether">
                  <p>{enterprise.codePostal}</p>
                  <p>{enterprise.ville}</p>
                </span>
              </div>
              <div class="enterprise-contact">
                <span class="alltogether">
                  <img class="icon" src="/assets/icons/phone.svg" alt="Phone Icon" />
                  <p>{enterprise.phone}</p>
                </span>
                <span class="alltogether">
                  <img class="icon" src="/assets/icons/envelope.svg" alt="Email Icon" />
                  <p>{enterprise.email}</p>
                </span>
                <span class="alltogether">
                  <img class="icon" src="/assets/icons/globe.svg" alt="Web Icon" />
                  <p>{enterprise.website}</p>
                </span>
              </div>
            </div>
          </div>
        </f:for>
      </f:widget.paginate>
    </div>


    <f:comment>
      <table class="tx_filter">
        <tr>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.name" />
          </th>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.address" />
          </th>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.phone" />
          </th>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.website" />
          </th>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.email" />
          </th>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.code_postal" />
          </th>
          <th>
            <f:translate key="tx_filter_domain_model_enterprise.ville" />
          </th>
          <th></th>
          <th></th>
        </tr>
        <f:for each="{enterprises}" as="enterprise">
          <tr>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.name}</f:link.action>
            </td>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.address}</f:link.action>
            </td>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.phone}</f:link.action>
            </td>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.website}</f:link.action>
            </td>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.email}</f:link.action>
            </td>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.codePostal}
              </f:link.action>
            </td>
            <td>
              <f:link.action action="show" arguments="{enterprise : enterprise}">{enterprise.ville}</f:link.action>
            </td>
            <td>
              <f:link.action action="edit" arguments="{enterprise : enterprise}">Edit</f:link.action>
            </td>
            <td>
              <f:link.action action="delete" arguments="{enterprise : enterprise}">Delete</f:link.action>
            </td>
          </tr>
        </f:for>
      </table>
      <f:link.action action="new">New Enterprise</f:link.action>
    </f:comment>
  </div>


</f:section>

</html>