.container-vhs {
    padding: 10px;
    background-color: #41646E;
    width: 500px;
    height: 100px;

    .list-item-vhs {
        display: flex;
        align-items: center;
        gap: 8px;

    }
}