<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:project="EW72\Project\ViewHelpers">

<f:layout name="Default" />

<f:section name="Configuration">
    <flux:form id="verbraucher" label="Verbraucher" description="This is 'Verbraucher' CE description">
        <flux:field.input name="header" label="Header" />
        <flux:field.inline.fal name="firstImage" label="First Image" required="1" maxItems="1" minItems="1"
            collapseAll="1" />
        <flux:field.text name="description" label="Description" />
        <flux:field.inline.fal name="secondImage" label="Second Image" required="1" maxItems="1" minItems="1"
            collapseAll="1" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <h1>Verbraucher CE</h1>
</f:section>

<f:section name="Main">
    <div class="side-bar-content">
        <h1 class="header-content">{header}</h1>
        <f:for each="{v:content.resources.fal(field: 'firstImage')}" as="image">
            <f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}" />
            <br />
        </f:for>
        <p class="description-content">{description}</p>
        <f:for each="{v:content.resources.fal(field: 'secondImage')}" as="image2">
            <f:image treatIdAsReference="2" src="{image2.id}" title="{image2.title}" alt="{image2.alternative}" />
            <br />
        </f:for>
    </div>
</f:section>

</html>