.news-title {
    height: 98px;
    width: 631px;
    color: #41646E;
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 49px;
}

.intro-text-news {
    height: 112px;
    width: 1100px;
    color: #5F696B;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 28px;
}

.news-list-date {
    color: #5F696B;
    font-size: 15px;
    margin-top: 10px;
}

.news-img {
    margin-left: 20px;
}