.side-bar-container {
    display: flex;
    padding: 10px;
    gap: 100px;
    background-color: $color-secondary-30;

    >.menu-side-bar {
        flex-direction: column;
        width: 20%;
        height: 50px;

        >ul {
            display: flex;
            flex-direction: column;
            list-style: none;

            li {
                padding: 16px 32px;
                background-color: $color-secondary-30;
                cursor: pointer;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: #3e4a4c;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

        }

        > {
            background-color: $color-passed;
        }
    }

    >.side-bar-content {
        flex-direction: column;
        width: 80%;
    }
}

.header-content {
    height: 49px;
    width: 631px;
    color: #41646E;
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 49px;
}

.description-content {
    height: 84px;
    width: 980px;
    color: #5F696B;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 28px;
}

.title-menu {
    color: rgb(230, 10, 57);
    margin: 25px 50px;
}

