<div class="filter">
    <div class="search">
        <f:form.textfield id="search-query" name="query" class="input-search" value=""
            placeholder="SUCHE NACH FIRMENNAME" />
        <button class="button-search" id="submit" type="button" value="SUCHE">click</button>
    </div>
    <div class="category-items">
        <f:if condition="{categories}">
            <f:for each="{categories}" as="category">
                <div class="item">
                    <f:form.checkbox name="categories[]" value="{category.uid}" />
                    <span class="category-title">{category.title}</span>
                </div>
            </f:for>
        </f:if>
    </div>
</div>